#${pyrite_blog_id} {
  padding: 10px;
}

.${post_class} {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
}

.${title_class} {
  text-align: left;
  font-weight: bold;  
  line-height: 1.5em;  
  font: palatino, serif;
}

.${tags_class} {
  color: #CCCCCC;
}

.${date_class} {
  text-align: left;
  font-style: italic;
  line-height: 1.5em;  
}

.${content_class} {
  font: 1em palatino;
  letter-spacing: .5px;
  line-height: 1.5em;  
}
