.${pyrite_blog_id} {
  padding: 50px
}

.${post_class} {
  padding: 10px;
  border-bottom: solid, .5px;
}

.${title_class} {
  font-weight: bold;  
  padding-top: 2px
}

.${tags_class} {
  color: #CC4500;
  padding-top: 2px  
}

.${date_class} {
  font-style: italic;
  padding-top: 2px  
}

.${content_class} {
   font: 0.75em georgia, sans-serif;
   letter-spacing: 1px;
}
