.pyrite_post {
  padding: 10px;
}

.pyrite_title {
  font-weight: bold;  
  padding-top: 2px
}

.pyrite_tags {
  color: #CC4500;
  padding-top: 2px  
}

.pyrite_date {
  font-style: italic;
  padding-top: 2px  
}

.pyrite_content {
   font: 0.75em georgia, sans-serif;
   letter-spacing: 1px;
}
